---
# Generic Playbook to install and configure apache as an example

- include_vars: "{{ansible_os_family}}.yml" 

- include: fail.yml
  when: license_key is not defined

- include: repo.yml 
- include: install.yml

- include: newrelic-install.yml
  when: ansible_os_family == "RedHat"

- include: nrsysmond-config.yml

- include: set-newrelic-license-key.yml
  when: ansible_os_family == "Debian"
