---
# Generic Playbook to install and configure apache as an example

- include_vars: "{{ansible_os_family}}.yml" 

- include: repo.yml 
- include: install.yml
- include: newrelic-install.yml
  when: license_key != ""
- include: nrsysmond-config.yml
  when: license_key != ""
